html, body {
    margin: 0; padding: 0; height: 100%; width: 100%;
    overflow: hidden;
}

#splash {
    position: fixed; top: 0; left: 0; width: 100vw; height: 100vh;
    background: url('./Assets/convite1.jpeg') no-repeat center center;
    background-size: 100% 100% !important;
    z-index: 100;
    transition: opacity 1s ease, visibility 1s;
}

#content {
    position: fixed; top: 0; left: 0; width: 100vw; height: 100vh;
    background: url('./Assets/convite2.jpeg') no-repeat center center;
    background-size: 100% 100% !important;
}

.hidden { display: none !important; }
.fade-out { opacity: 0; visibility: hidden; }

#area-clicavel {
    position: absolute;
    width: 100%;  /* Vamos deixar a tela toda clicável para facilitar */
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 101; /* Garante que fique por cima de tudo na capa */
}